.flex_it {
  display: flex;
}

.center {
  display: block;
  margin: 0 auto;
}

.no-padding {
  padding: 0;
}

.marginT15 {
  margin-top: 15px
}

.marginB15 {
  margin-bottom: 15px
}

.height--100 {
  height: 100%;
}
